<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmit.kapok.system.service.sys_menu.mapper.H5MenuParentChildrenRelMapper">
  <resultMap id="BaseResultMap" type="com.cmit.kapok.system.entity.sys_menu.H5MenuParentChildrenRel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="children_id" jdbcType="INTEGER" property="childrenId" />
  </resultMap>
</mapper>