<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmit.kapok.system.service.sys_depart.mapper.SysUserDepartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cmit.kapok.system.entity.sys_depart.SysUserDepart">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="dep_id" property="depId" />
    </resultMap>

</mapper>
