<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmit.kapok.system.service.sys_role.mapper.UserRoleRelMapper">
  <resultMap id="BaseResultMap" type="com.cmit.kapok.system.entity.sys_role.UserRoleRel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>

  <insert id="updateUserRoleRel">
    insert into user_role_rel(user_id,role_id) values
    <foreach collection="rolesList" item="role" separator=",">
      (#{userId},(select role.id from sys_role role where role.role=#{role}))
    </foreach>
  </insert>
</mapper>